# libraries

In [165]:
import numpy as np
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt

# Data Access
Nous accèdons aux données. Nous allons les séparées en fake et true dataset.

In [166]:
fake_df=pd.read_csv("data/Fake.csv")
fake_df.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [167]:
true_df=pd.read_csv("data/True.csv")
true_df.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

# Data cleaning
Dans ce dataframe nous analysons si les données sont propres (si elles contiennet des Nan Values, si le type des variables est approprié est approprié. Dans un premier temps nous allons créer un dataframe globale qui contient l'intégralité des données et on va créer une colonne "IsFake" qui contient "True" ou "False" pour classifier les données.

In [168]:
# On ajoute à chaque dataframe la colonne "isFake"
fake_df["isFake"]=True
fake_df.head(1)

,title,text,subject,date,isFake
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",True

In [169]:
true_df["isFake"]=False
true_df.head(1)

,title,text,subject,date,isFake
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",False

In [170]:
df=pd.concat([fake_df,true_df])
df

,title,text,subject,date,isFake
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",True
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",True
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",True
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",True
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",True
...,...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",False
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",False
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",False
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",False
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",False

In [171]:
#nous allons maintenant adapter les types de données
# Dans quelle format sont les données ?

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 44898 entries, 0 to 21416
Data columns (total 5 columns):
title      44898 non-null object
text       44898 non-null object
subject    44898 non-null object
date       44898 non-null object
isFake     44898 non-null bool
dtypes: bool(1), object(4)
memory usage: 1.8+ MB

In [172]:
# changer "date" en datetime
unique_dates = df['date'].unique()

invalid_format_dates = []

for date in unique_dates:
    try:
        # Essayer de convertir chaque date
        pd.to_datetime(date.strip(), format='%B %d, %Y')
    except ValueError:
        # Si une erreur se produit, ajouter la date à la liste des formats invalides
        invalid_format_dates.append(date)

print("Dates invalides:", invalid_format_dates)

Dates invalides: ['19-Feb-18', '18-Feb-18', '17-Feb-18', '16-Feb-18', '15-Feb-18', '14-Feb-18', 'Dec 31, 2017', 'Dec 30, 2017', 'Dec 29, 2017', 'Dec 28, 2017', 'Dec 27, 2017', 'Dec 26, 2017', 'Dec 25, 2017', 'Dec 24, 2017', 'Dec 23, 2017', 'Dec 22, 2017', 'Dec 21, 2017', 'Dec 20, 2017', 'Dec 19, 2017', 'Dec 18, 2017', 'Dec 17, 2017', 'Dec 16, 2017', 'Dec 15, 2017', 'Dec 14, 2017', 'Dec 13, 2017', 'Dec 12, 2017', 'Dec 11, 2017', 'Dec 10, 2017', 'Dec 9, 2017', 'Dec 8, 2017', 'Dec 7, 2017', 'Dec 6, 2017', 'Dec 5, 2017', 'Dec 4, 2017', 'Dec 3, 2017', 'Dec 2, 2017', 'Dec 1, 2017', 'Nov 30, 2017', 'Nov 29, 2017', 'Nov 28, 2017', 'Nov 27, 2017', 'Nov 26, 2017', 'Nov 25, 2017', 'https://100percentfedup.com/served-roy-moore-vietnamletter-veteran-sets-record-straight-honorable-decent-respectable-patriotic-commander-soldier/', 'Nov 24, 2017', 'Nov 23, 2017', 'Nov 22, 2017', 'Nov 21, 2017', 'Nov 20, 2017', 'Nov 19, 2017', 'Nov 18, 2017', 'Nov 17, 2017', 'Nov 16, 2017', 'Nov 15, 2017', 'Nov 14, 2017', 'Nov 13, 2017', 'Nov 12, 2017', 'Nov 11, 2017', 'Nov 10, 2017', 'Nov 9, 2017', 'Nov 8, 2017', 'Nov 7, 2017', 'Nov 6, 2017', 'Nov 5, 2017', 'Nov 4, 2017', 'Nov 3, 2017', 'Nov 2, 2017', 'Nov 1, 2017', 'Oct 31, 2017', 'Oct 30, 2017', 'Oct 29, 2017', 'Oct 28, 2017', 'Oct 27, 2017', 'Oct 26, 2017', 'Oct 25, 2017', 'Oct 24, 2017', 'Oct 23, 2017', 'Oct 22, 2017', 'Oct 21, 2017', 'Oct 20, 2017', 'Oct 19, 2017', 'Oct 18, 2017', 'Oct 17, 2017', 'Oct 16, 2017', 'Oct 15, 2017', 'Oct 14, 2017', 'Oct 13, 2017', 'Oct 12, 2017', 'Oct 11, 2017', 'Oct 10, 2017', 'Oct 9, 2017', 'Oct 8, 2017', 'Oct 7, 2017', 'Oct 6, 2017', 'Oct 5, 2017', 'Oct 4, 2017', 'Oct 3, 2017', 'Oct 2, 2017', 'Oct 1, 2017', 'Sep 30, 2017', 'Sep 29, 2017', 'Sep 28, 2017', 'Sep 27, 2017', 'Sep 26, 2017', 'Sep 25, 2017', 'Sep 24, 2017', 'Sep 23, 2017', 'Sep 22, 2017', 'Sep 21, 2017', 'Sep 20, 2017', 'Sep 19, 2017', 'Sep 18, 2017', 'Sep 17, 2017', 'Sep 16, 2017', 'Sep 15, 2017', 'Sep 14, 2017', 'Sep 13, 2017', 'Sep 12, 2017', 'Sep 11, 2017', 'Sep 10, 2017', 'Sep 9, 2017', 'Sep 8, 2017', 'Sep 7, 2017', 'Sep 6, 2017', 'Sep 5, 2017', 'Sep 4, 2017', 'Sep 3, 2017', 'Sep 2, 2017', 'Sep 1, 2017', 'Aug 31, 2017', 'Aug 30, 2017', 'Aug 29, 2017', 'Aug 28, 2017', 'Aug 27, 2017', 'Aug 26, 2017', 'Aug 25, 2017', 'Aug 24, 2017', 'Aug 23, 2017', 'Aug 22, 2017', 'Aug 21, 2017', 'Aug 20, 2017', 'Aug 19, 2017', 'Aug 18, 2017', 'Aug 17, 2017', 'Aug 16, 2017', 'Aug 15, 2017', 'Aug 14, 2017', 'Aug 13, 2017', 'Aug 12, 2017', 'Aug 11, 2017', 'Aug 10, 2017', 'Aug 9, 2017', 'Aug 8, 2017', 'Aug 7, 2017', 'Aug 6, 2017', 'Aug 5, 2017', 'Aug 4, 2017', 'Aug 3, 2017', 'Aug 2, 2017', 'Aug 1, 2017', 'Jul 31, 2017', 'Jul 30, 2017', 'Jul 29, 2017', 'Jul 28, 2017', 'Jul 27, 2017', 'Jul 26, 2017', 'Jul 25, 2017', 'Jul 24, 2017', 'Jul 23, 2017', 'Jul 22, 2017', 'Jul 21, 2017', 'Jul 20, 2017', 'Jul 19, 2017', 'Jul 18, 2017', 'Jul 17, 2017', 'Jul 16, 2017', 'Jul 15, 2017', 'Jul 14, 2017', 'Jul 13, 2017', 'Jul 12, 2017', 'Jul 11, 2017', 'Jul 10, 2017', 'Jul 9, 2017', 'Jul 8, 2017', 'Jul 7, 2017', 'Jul 6, 2017', 'Jul 5, 2017', 'Jul 4, 2017', 'Jul 3, 2017', 'Jul 2, 2017', 'Jul 1, 2017', 'Jun 30, 2017', 'Jun 29, 2017', 'Jun 28, 2017', 'Jun 27, 2017', 'Jun 26, 2017', 'Jun 25, 2017', 'Jun 24, 2017', 'Jun 23, 2017', 'Jun 22, 2017', 'Jun 21, 2017', 'Jun 20, 2017', 'Jun 19, 2017', 'Jun 18, 2017', 'Jun 17, 2017', 'Jun 16, 2017', 'Jun 15, 2017', 'Jun 14, 2017', 'Jun 13, 2017', 'Jun 12, 2017', 'Jun 11, 2017', 'Jun 10, 2017', 'Jun 9, 2017', 'Jun 8, 2017', 'Jun 7, 2017', 'Jun 6, 2017', 'Jun 5, 2017', 'Jun 4, 2017', 'Jun 3, 2017', 'Jun 2, 2017', 'Jun 1, 2017', 'Apr 30, 2017', 'Apr 29, 2017', 'Apr 28, 2017', 'Apr 27, 2017', 'Apr 26, 2017', 'Apr 25, 2017', 'Apr 24, 2017', 'Apr 23, 2017', 'Apr 22, 2017', 'Apr 21, 2017', 'Apr 20, 2017', 'Apr 19, 2017', 'Apr 18, 2017', 'Apr 17, 2017', 'Apr 16, 2017', 'Apr 15, 2017', 'Apr 14, 2017', 'Apr 13, 2017', 'Apr 12, 2017', 'Apr 11, 2017', 'Apr 10, 2017', 'Apr 9, 2017', 'Apr 8, 2017', 'Apr 7, 2017', 'Apr 6, 2017', 'Apr 5, 2017', 'Apr 4, 2017', 'Apr 3, 2017', 'Apr 2, 2017', 'Apr 1, 2017', 'Mar 31, 2017', 'Mar 30, 2017', 'Mar 29, 2017', 'Mar 28, 2017', 'Mar 27, 2017', 'Mar 26, 2017', 'Mar 25, 2017', 'Mar 24, 2017', 'Mar 23, 2017', 'Mar 22, 2017', 'Mar 21, 2017', 'Mar 20, 2017', 'Mar 19, 2017', 'Mar 18, 2017', 'Mar 17, 2017', 'Mar 16, 2017', 'Mar 15, 2017', 'Mar 14, 2017', 'Mar 13, 2017', 'Mar 12, 2017', 'Mar 11, 2017', 'Mar 10, 2017', 'Mar 9, 2017', 'Mar 8, 2017', 'Mar 7, 2017', 'Mar 6, 2017', 'Mar 5, 2017', 'Mar 4, 2017', 'Mar 3, 2017', 'Mar 2, 2017', 'Mar 1, 2017', 'Feb 28, 2017', 'Feb 27, 2017', 'Feb 26, 2017', 'Feb 25, 2017', 'Feb 24, 2017', 'Feb 23, 2017', 'Feb 22, 2017', 'Feb 21, 2017', 'Feb 20, 2017', 'Feb 19, 2017', 'Feb 18, 2017', 'Feb 17, 2017', 'Feb 16, 2017', 'Feb 15, 2017', 'Feb 14, 2017', 'Feb 13, 2017', 'Feb 12, 2017', 'Feb 11, 2017', 'Feb 10, 2017', 'Feb 9, 2017', 'Feb 8, 2017', 'Feb 7, 2017', 'Feb 6, 2017', 'Feb 5, 2017', 'Feb 4, 2017', 'Feb 3, 2017', 'Feb 2, 2017', 'Feb 1, 2017', 'Jan 31, 2017', 'Jan 30, 2017', 'Jan 29, 2017', 'Jan 28, 2017', 'Jan 27, 2017', 'Jan 26, 2017', 'Jan 25, 2017', 'Jan 24, 2017', 'Jan 23, 2017', 'Jan 22, 2017', 'Jan 21, 2017', 'Jan 20, 2017', 'Jan 19, 2017', 'Jan 18, 2017', 'Jan 17, 2017', 'Jan 16, 2017', 'Jan 15, 2017', 'Jan 14, 2017', 'Jan 13, 2017', 'Jan 12, 2017', 'Jan 11, 2017', 'Jan 10, 2017', 'Jan 9, 2017', 'Jan 8, 2017', 'Jan 7, 2017', 'Jan 6, 2017', 'Jan 5, 2017', 'Jan 4, 2017', 'Jan 3, 2017', 'Jan 2, 2017', 'Jan 1, 2017', 'Dec 31, 2016', 'Dec 30, 2016', 'Dec 29, 2016', 'Dec 28, 2016', 'Dec 27, 2016', 'Dec 26, 2016', 'Dec 25, 2016', 'Dec 24, 2016', 'Dec 23, 2016', 'Dec 22, 2016', 'Dec 21, 2016', 'Dec 20, 2016', 'Dec 19, 2016', 'Dec 18, 2016', 'Dec 17, 2016', 'Dec 16, 2016', 'Dec 15, 2016', 'Dec 14, 2016', 'Dec 13, 2016', 'Dec 12, 2016', 'Dec 11, 2016', 'Dec 10, 2016', 'Dec 9, 2016', 'Dec 8, 2016', 'Dec 7, 2016', 'Dec 6, 2016', 'Dec 5, 2016', 'Dec 4, 2016', 'Dec 3, 2016', 'Dec 2, 2016', 'Dec 1, 2016', 'Nov 30, 2016', 'Nov 29, 2016', 'Nov 28, 2016', 'Nov 27, 2016', 'Nov 26, 2016', 'Nov 25, 2016', 'Nov 24, 2016', 'Nov 23, 2016', 'Nov 22, 2016', 'Nov 21, 2016', 'Nov 20, 2016', 'Nov 19, 2016', 'Nov 18, 2016', 'Nov 17, 2016', 'Nov 16, 2016', 'Nov 15, 2016', 'Nov 14, 2016', 'Nov 13, 2016', 'Nov 12, 2016', 'Nov 11, 2016', 'Nov 10, 2016', 'Nov 9, 2016', 'Nov 8, 2016', 'Nov 7, 2016', 'Nov 6, 2016', 'Nov 5, 2016', 'Nov 4, 2016', 'Nov 3, 2016', 'Nov 2, 2016', 'Nov 1, 2016', 'Oct 31, 2016', 'Oct 30, 2016', 'Oct 29, 2016', 'Oct 28, 2016', 'Oct 27, 2016', 'Oct 26, 2016', 'Oct 25, 2016', 'Oct 24, 2016', 'Oct 23, 2016', 'Oct 22, 2016', 'Oct 21, 2016', 'Oct 20, 2016', 'Oct 19, 2016', 'Oct 18, 2016', 'Oct 17, 2016', 'Oct 16, 2016', 'Oct 15, 2016', 'Oct 14, 2016', 'Oct 13, 2016', 'Oct 12, 2016', 'Oct 11, 2016', 'Oct 10, 2016', 'Oct 9, 2016', 'Oct 8, 2016', 'Oct 7, 2016', 'Oct 6, 2016', 'Oct 5, 2016', 'Oct 4, 2016', 'Oct 3, 2016', 'Oct 2, 2016', 'Oct 1, 2016', 'Sep 30, 2016', 'Sep 29, 2016', 'Sep 28, 2016', 'Sep 27, 2016', 'Sep 26, 2016', 'Sep 25, 2016', 'Sep 24, 2016', 'Sep 23, 2016', 'Sep 22, 2016', 'Sep 21, 2016', 'Sep 20, 2016', 'Sep 19, 2016', 'Sep 18, 2016', 'Sep 17, 2016', 'Sep 16, 2016', 'Sep 15, 2016', 'Sep 14, 2016', 'Sep 13, 2016', 'Sep 12, 2016', 'Sep 11, 2016', 'Sep 10, 2016', 'Sep 9, 2016', 'Sep 8, 2016', 'Sep 7, 2016', 'Sep 6, 2016', 'Sep 5, 2016', 'Sep 4, 2016', 'Sep 3, 2016', 'Sep 2, 2016', 'Sep 1, 2016', 'Aug 31, 2016', 'Aug 30, 2016', 'Aug 29, 2016', 'Aug 28, 2016', 'Aug 27, 2016', 'Aug 26, 2016', 'Aug 25, 2016', 'Aug 24, 2016', 'Aug 23, 2016', 'Aug 22, 2016', 'Aug 21, 2016', 'Aug 20, 2016', 'Aug 19, 2016', 'Aug 18, 2016', 'Aug 17, 2016', 'Aug 16, 2016', 'Aug 15, 2016', 'Aug 14, 2016', 'Aug 13, 2016', 'Aug 12, 2016', 'Aug 11, 2016', 'Aug 10, 2016', 'Aug 9, 2016', 'Aug 8, 2016', 'Aug 7, 2016', 'Aug 6, 2016', 'Aug 5, 2016', 'Aug 4, 2016', 'Aug 3, 2016', 'Aug 2, 2016', 'Aug 1, 2016', 'Jul 31, 2016', 'Jul 30, 2016', 'Jul 29, 2016', 'Jul 28, 2016', 'Jul 27, 2016', 'Jul 26, 2016', 'Jul 25, 2016', 'Jul 24, 2016', 'Jul 23, 2016', 'Jul 22, 2016', 'Jul 21, 2016', 'Jul 20, 2016', 'Jul 19, 2016', 'Jul 18, 2016', 'Jul 17, 2016', 'Jul 16, 2016', 'Jul 15, 2016', 'Jul 14, 2016', 'Jul 13, 2016', 'Jul 12, 2016', 'Jul 11, 2016', 'Jul 10, 2016', 'Jul 9, 2016', 'Jul 8, 2016', 'Jul 7, 2016', 'Jul 6, 2016', 'Jul 5, 2016', 'Jul 4, 2016', 'Jul 3, 2016', 'Jul 2, 2016', 'Jul 1, 2016', 'Jun 30, 2016', 'Jun 29, 2016', 'Jun 28, 2016', 'Jun 27, 2016', 'Jun 26, 2016', 'Jun 25, 2016', 'Jun 24, 2016', 'Jun 23, 2016', 'Jun 22, 2016', 'Jun 21, 2016', 'Jun 20, 2016', 'Jun 19, 2016', 'Jun 18, 2016', 'Jun 17, 2016', 'Jun 16, 2016', 'Jun 15, 2016', 'Jun 14, 2016', 'Jun 13, 2016', 'Jun 12, 2016', 'Jun 11, 2016', 'Jun 10, 2016', 'Jun 9, 2016', 'Jun 8, 2016', 'Jun 7, 2016', 'Jun 6, 2016', 'Jun 5, 2016', 'Jun 4, 2016', 'Jun 3, 2016', 'Jun 2, 2016', 'Jun 1, 2016', 'Apr 30, 2016', 'Apr 29, 2016', 'Apr 28, 2016', 'Apr 27, 2016', 'Apr 26, 2016', 'Apr 25, 2016', 'Apr 24, 2016', 'Apr 23, 2016', 'Apr 22, 2016', 'Apr 21, 2016', 'Apr 20, 2016', 'Apr 19, 2016', 'Apr 18, 2016', 'Apr 17, 2016', 'Apr 16, 2016', 'Apr 15, 2016', 'Apr 14, 2016', 'Apr 13, 2016', 'Apr 12, 2016', 'Apr 11, 2016', 'Apr 10, 2016', 'Apr 9, 2016', 'Apr 8, 2016', 'Apr 7, 2016', 'Apr 6, 2016', 'Apr 5, 2016', 'Apr 4, 2016', 'Apr 3, 2016', 'Apr 2, 2016', 'Apr 1, 2016', 'Mar 31, 2016', 'Mar 30, 2016', 'Mar 29, 2016', 'Mar 28, 2016', 'Mar 27, 2016', 'Mar 26, 2016', 'Mar 25, 2016', 'Mar 24, 2016', 'Mar 23, 2016', 'Mar 22, 2016', 'Mar 21, 2016', 'Mar 20, 2016', 'Mar 19, 2016', 'Mar 18, 2016', 'Mar 17, 2016', 'Mar 16, 2016', 'Mar 15, 2016', 'Mar 14, 2016', 'Mar 13, 2016', 'Mar 12, 2016', 'Mar 11, 2016', 'Mar 10, 2016', 'Mar 9, 2016', 'Mar 8, 2016', 'Mar 7, 2016', 'Mar 6, 2016', 'Mar 5, 2016', 'Mar 4, 2016', 'Mar 3, 2016', 'Mar 2, 2016', 'Mar 1, 2016', 'Feb 29, 2016', 'Feb 28, 2016', 'Feb 27, 2016', 'Feb 26, 2016', 'Feb 25, 2016', 'Feb 24, 2016', 'Feb 23, 2016', 'Feb 22, 2016', 'Feb 21, 2016', 'Feb 20, 2016', 'Feb 19, 2016', 'Feb 18, 2016', 'Feb 17, 2016', 'Feb 16, 2016', 'Feb 15, 2016', 'Feb 14, 2016', 'Feb 13, 2016', 'Feb 12, 2016', 'Feb 11, 2016', 'Feb 10, 2016', 'Feb 9, 2016', 'Feb 8, 2016', 'Feb 7, 2016', 'Feb 6, 2016', 'Feb 5, 2016', 'Feb 4, 2016', 'Feb 3, 2016', 'Feb 2, 2016', 'Feb 1, 2016', 'Jan 31, 2016', 'Jan 30, 2016', 'Jan 29, 2016', 'Jan 28, 2016', 'Jan 27, 2016', 'Jan 26, 2016', 'Jan 25, 2016', 'Jan 24, 2016', 'Jan 23, 2016', 'Jan 22, 2016', 'Jan 21, 2016', 'Jan 20, 2016', 'Jan 19, 2016', 'Jan 18, 2016', 'Jan 17, 2016', 'Jan 16, 2016', 'Jan 15, 2016', 'Jan 14, 2016', 'Jan 13, 2016', 'Jan 12, 2016', 'Jan 11, 2016', 'Jan 10, 2016', 'Jan 9, 2016', 'Jan 8, 2016', 'Jan 7, 2016', 'Jan 6, 2016', 'Jan 5, 2016', 'Jan 4, 2016', 'Jan 3, 2016', 'Jan 2, 2016', 'Jan 1, 2016', 'Dec 31, 2015', 'Dec 30, 2015', 'Dec 29, 2015', 'Dec 28, 2015', 'Dec 27, 2015', 'Dec 26, 2015', 'Dec 25, 2015', 'Dec 24, 2015', 'Dec 23, 2015', 'Dec 22, 2015', 'Dec 21, 2015', 'Dec 20, 2015', 'Dec 19, 2015', 'Dec 18, 2015', 'Dec 17, 2015', 'Dec 16, 2015', 'Dec 15, 2015', 'Dec 14, 2015', 'Dec 13, 2015', 'Dec 12, 2015', 'Dec 11, 2015', 'Dec 10, 2015', 'Dec 9, 2015', 'Dec 8, 2015', 'Dec 7, 2015', 'Dec 6, 2015', 'Dec 5, 2015', 'Dec 4, 2015', 'Dec 3, 2015', 'Dec 2, 2015', 'Dec 1, 2015', 'Nov 30, 2015', 'Nov 29, 2015', 'Nov 28, 2015', 'Nov 27, 2015', 'Nov 26, 2015', 'Nov 25, 2015', 'Nov 24, 2015', 'Nov 23, 2015', 'Nov 22, 2015', 'Nov 21, 2015', 'Nov 20, 2015', 'Nov 19, 2015', 'Nov 18, 2015', 'Nov 17, 2015', 'Nov 16, 2015', 'Nov 15, 2015', 'Nov 14, 2015', 'Nov 13, 2015', 'Nov 12, 2015', 'Nov 11, 2015', 'Nov 10, 2015', 'Nov 9, 2015', 'Nov 8, 2015', 'Nov 7, 2015', 'Nov 6, 2015', 'Nov 5, 2015', 'Nov 4, 2015', 'Nov 3, 2015', 'Nov 2, 2015', 'Nov 1, 2015', 'Oct 31, 2015', 'Oct 30, 2015', 'Oct 29, 2015', 'Oct 28, 2015', 'Oct 27, 2015', 'Oct 26, 2015', 'Oct 25, 2015', 'Oct 24, 2015', 'Oct 23, 2015', 'Oct 22, 2015', 'Oct 21, 2015', 'Oct 20, 2015', 'Oct 19, 2015', 'Oct 18, 2015', 'Oct 17, 2015', 'Oct 16, 2015', 'Oct 15, 2015', 'Oct 14, 2015', 'Oct 13, 2015', 'Oct 12, 2015', 'Oct 11, 2015', 'Oct 10, 2015', 'Oct 9, 2015', 'Oct 8, 2015', 'Oct 7, 2015', 'Oct 6, 2015', 'Oct 5, 2015', 'Oct 4, 2015', 'Oct 3, 2015', 'Oct 2, 2015', 'Oct 1, 2015', 'Sep 30, 2015', 'Sep 29, 2015', 'Sep 28, 2015', 'Sep 27, 2015', 'Sep 26, 2015', 'Sep 25, 2015', 'Sep 24, 2015', 'Sep 23, 2015', 'Sep 22, 2015', 'Sep 21, 2015', 'Sep 20, 2015', 'Sep 19, 2015', 'Sep 18, 2015', 'Sep 17, 2015', 'Sep 16, 2015', 'Sep 15, 2015', 'Sep 14, 2015', 'Sep 13, 2015', 'Sep 12, 2015', 'Sep 11, 2015', 'Sep 9, 2015', 'Sep 8, 2015', 'Sep 7, 2015', 'Sep 6, 2015', 'Sep 5, 2015', 'Sep 4, 2015', 'Sep 3, 2015', 'Sep 2, 2015', 'Sep 1, 2015', 'Aug 31, 2015', 'Aug 30, 2015', 'Aug 29, 2015', 'Aug 28, 2015', 'Aug 27, 2015', 'Aug 26, 2015', 'Aug 25, 2015', 'Aug 24, 2015', 'Aug 23, 2015', 'Aug 22, 2015', 'Aug 21, 2015', 'Aug 20, 2015', 'Aug 19, 2015', 'Aug 18, 2015', 'Aug 17, 2015', 'Aug 16, 2015', 'Aug 15, 2015', 'Aug 14, 2015', 'Aug 13, 2015', 'Aug 12, 2015', 'Aug 11, 2015', 'Aug 10, 2015', 'Aug 9, 2015', 'Aug 8, 2015', 'Aug 7, 2015', 'Aug 6, 2015', 'Aug 5, 2015', 'Aug 4, 2015', 'Aug 3, 2015', 'Aug 2, 2015', 'Aug 1, 2015', 'Jul 31, 2015', 'Jul 30, 2015', 'Jul 29, 2015', 'Jul 28, 2015', 'Jul 27, 2015', 'Jul 26, 2015', 'Jul 25, 2015', 'Jul 24, 2015', 'Jul 23, 2015', 'Jul 22, 2015', 'Jul 21, 2015', 'Jul 20, 2015', 'Jul 19, 2015', 'Jul 17, 2015', 'Jul 16, 2015', 'Jul 15, 2015', 'Jul 14, 2015', 'Jul 13, 2015', 'Jul 12, 2015', 'Jul 11, 2015', 'Jul 10, 2015', 'Jul 9, 2015', 'Jul 8, 2015', 'Jul 7, 2015', 'Jul 6, 2015', 'https://100percentfedup.com/video-hillary-asked-about-trump-i-just-want-to-eat-some-pie/', 'https://100percentfedup.com/12-yr-old-black-conservative-whose-video-to-obama-went-viral-do-you-really-love-america-receives-death-threats-from-left/', 'Jul 3, 2015', 'Jul 2, 2015', 'Jul 1, 2015', 'Jun 30, 2015', 'Jun 29, 2015', 'Jun 28, 2015', 'Jun 27, 2015', 'Jun 26, 2015', 'Jun 25, 2015', 'Jun 24, 2015', 'Jun 23, 2015', 'Jun 22, 2015', 'Jun 20, 2015', 'Jun 19, 2015', 'Jun 18, 2015', 'Jun 17, 2015', 'Jun 16, 2015', 'Jun 15, 2015', 'Jun 14, 2015', 'Jun 13, 2015', 'Jun 12, 2015', 'Jun 11, 2015', 'Jun 10, 2015', 'Jun 9, 2015', 'Jun 8, 2015', 'Jun 7, 2015', 'Jun 5, 2015', 'Jun 4, 2015', 'Jun 3, 2015', 'Jun 2, 2015', 'Jun 1, 2015', 'Apr 30, 2015', 'Apr 29, 2015', 'Apr 28, 2015', 'Apr 27, 2015', 'Apr 26, 2015', 'Apr 25, 2015', 'Apr 24, 2015', 'Apr 23, 2015', 'Apr 22, 2015', 'Apr 21, 2015', 'Apr 20, 2015', 'Apr 19, 2015', 'Apr 18, 2015', 'Apr 17, 2015', 'Apr 16, 2015', 'Apr 15, 2015', 'Apr 14, 2015', 'Apr 13, 2015', 'Apr 12, 2015', 'https://fedup.wpengine.com/wp-content/uploads/2015/04/hillarystreetart.jpg', 'https://fedup.wpengine.com/wp-content/uploads/2015/04/entitled.jpg', 'Apr 11, 2015', 'Apr 10, 2015', 'Apr 9, 2015', 'Apr 8, 2015', 'Apr 7, 2015', 'Apr 6, 2015', 'Apr 5, 2015', 'Apr 4, 2015', 'Apr 2, 2015', 'Apr 1, 2015', 'Mar 31, 2015', 'Sep 10, 2015', 'Jul 5, 2015', 'Jul 4, 2015', 'Jun 21, 2015', 'MSNBC HOST Rudely Assumes Steel Worker Would Never Let His Son Follow in His Footsteps…He Couldn’t Be More Wrong [Video]', 'Jul 18, 2015']

Nous pouvons voir que les données ne sont toutes du meme format, il va falloire changer cela. Nous pouvons identifier 3 formats qui ne respectent pas la forme suivante "Mois :
- 'd-MMM-yy' (comme '19-Feb-18')
- 'MMM d, yyyy' (comme 'Dec 31, 2017').
- "des URL de site" 

Concernant les URL nous allons éliminer ces lignes du dataset. Pour les autres valeurs nous allons concevoir un algorithme pour les transformer dans un dataframe convenable.

In [173]:
# filtrer et supprimer les URL, pour simplifier nous allons dire que si 
#la ligne contient le suit pas les formats 'd-MMM-yy' ou 'MMM d, yyyy'  
df['date']

0        December 31, 2017
1        December 31, 2017
2        December 30, 2017
3        December 29, 2017
4        December 25, 2017
               ...
21412     August 22, 2017
21413     August 22, 2017
21414     August 22, 2017
21415     August 22, 2017
21416     August 22, 2017
Name: date, Length: 44898, dtype: object

In [174]:
dates_numpy_array=df['date'].to_numpy()
dates_numpy_array

bad_format_indexes=[] # les index qui n'ont pas le bon format.
for i in range(len(dates_numpy_array)):
    tab=dates_numpy_array[i].replace(",","").split() # on enleve la virgule et
    if len(tab)!=3:
        bad_format_indexes.append(i) #si le nombre est différent de 3 alors le format n'est pas celui qu'on veut. 

bad_format_indexes

[9050,
 9051,
 9052,
 9053,
 9054,
 9055,
 9056,
 9057,
 9058,
 9059,
 9060,
 9061,
 9062,
 9063,
 9064,
 9065,
 9066,
 9067,
 9068,
 9069,
 9070,
 9071,
 9072,
 9073,
 9074,
 9075,
 9076,
 9077,
 9078,
 9079,
 9080,
 9081,
 9082,
 9083,
 9084,
 9358,
 15507,
 15508,
 15839,
 15840,
 17432,
 17433,
 18933,
 21869,
 21870]

Nous avons donc identifié que certaines données ne sont pas dans le format adéquat, nous avons 2 cas à traité:
- les dates au format D-MM-YY
- les urls et les string
Nous pouvons savoir que si le string dépasse une certainne longieur, alors c'est un url ou un long text et nous éliminons la row. Si par contre C'est une date du format d-MM-YY alors nous pouvons juste dansformer la donnée en format que l'on veut.

In [175]:
index_to_delete=[]
for index in bad_format_indexes:
    try: # si c'est un format D-M-Y alors on le change simplement
        date_str=dates_numpy_array[index]
        date_obj = datetime.strptime(date_str, '%d-%b-%y') # on selectionne l'objet avec le format D-M-Y en format datetime.
        new_format = date_obj.strftime('%B %d, %Y')
        dates_numpy_array[index]=new_format
    except: # c'est un long string que nous devrons éffacer.
        index_to_delete.append(index)

#nous avons donc modifié les formats des dates de D-M-Y.
dates_numpy_array

In [177]:
#mainteannt nous allons remplacer les lignes qui ont étée modifiées
df['date']=dates_numpy_array

In [187]:
df['date'] = pd.to_datetime(df['date'], errors='coerce')
df.date.isnull().unique()

array([False,  True])

Nous avons prouvé que il existe des nan values, donc nous allons eliminer les lignes.

In [197]:
# Éliminer les lignes où la colonne 'date' a des valeurs NaT
df = df.dropna(subset=['date'])
df.date.isnull().unique()

array([False])

Nous avons donc clean la colonne date. Nous verifions les autres colonnes.

In [198]:
df.columns

Index(['title', 'text', 'subject', 'date', 'isFake'], dtype='object')

In [199]:
df.title.isnull().unique()

array([False])

In [200]:
df.text.isnull().unique()

array([False])

In [201]:
df.subject.isnull().unique()

array([False])

Notre dataset est près à l'emplois.

# Data analysis + Visualisation
Nous avons plusieurs points à analyser avant de créer notre model, voici les questions sur lesquelles nous nous focalisons pour répondre aux questions:
- Quelle sont tout les types de "subject" de notre dataframe ?
- quelle est le "subject" qui a le plus de fake news ou de vrai news ?
- quelle est la longueur des textes ?
- existe il des titres qui se répètent ?
- Quelle est la date minimale ? Maximale? 
- Est ce que le dataset Fake et le dataset True ont des titres identiques ? 
- Qu'est ce que les données fake et les données True ont en commun?
- quelle periode dans le temps a le plus de fake news?

L'analyse va nous permettre des réponse à ces questions.